#borderPane {
    -fx-background-color: #eee;
}

#headImage {

}
.button{
    -fx-font-size: 18px;
    -fx-opacity: 1.0;
    -fx-text-fill: #ffffff;
    -fx-background-color: #1AAD19;
}
.button:hover {
    -fx-opacity: 0.6;
}
